<div class="d-inline">  
    <h1> <a href="/order/orderlist" class="text-reset" style="text-decoration:none"> <i class="fa-solid fa-angle-left"></i> DETALLES DE ORDEN</h1></a>
</div>



{{#each ordendata   }}
    {{> Orderinfo  }}
{{/each}}